.p-40 {
    padding: 40px;
}

.mb-0 {
    margin-bottom: 0px;
}

.p-30 {
    padding: 30px;
}

.p-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}

.display-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.is-absolute {
    position: absolute;
    z-index: 9;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.fs-20 {
    font-size: 20px;
}

.fs-10 {
    font-size: 10px;
}

.center-vertical {
    align-items: center;
}

.flex-end-vertical {
    align-items: flex-end;
}

.height-100 {
    height: 100vh;
}

.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 100% !important;
}

.spinner-border {
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: 0.15em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
}

.center-spinner-vertically {
    top: 50%;
}

.login-background {
    background-color: #00bbec !important;
}

nav.navbar.navbar-expand.navbar-dark.bg-primary {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.is-password {
    -webkit-text-security: disc;
}

.space-between-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-title {
    text-transform: uppercase;
}

.center {
    margin: auto;
}

.no-card {
    background: none;
}

.inline-checkbox {
    display: inline;
    margin-right: 1em;
}

.btn-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-flex-text {
    display: inline-block;
    margin: 0 0.5em;
}
